* {
  box-sizing: border-box;
  background-color: burlywood;
}

body {
  
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  color: rgb(54, 3, 23);
}

.SearchMeal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.meal-item {
  text-align: center;
}

.meal-item img {
  width: 300px;
  height: 300px;
  border-radius: 25%;
}

.meal-item p {
  margin-top: 10px;
  text-align: justify; /* Justify text for better readability */
  word-break: break-all; /* Break words if they exceed container width */
}
.meal-details {
  margin-top: 20px;
  text-align: center;
}

.meal-details h3 {
  margin-bottom: 10px;
}

.meal-details img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
  border-radius: 25%;
}

.RandomMeal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.RandomMeal img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 20px;
  border-radius: 25%;
}
